<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="VCMP Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.vcmp.utility.ExtentReporterNG" />
	</listeners>


	<test name="VCMP App Test Cases">
		<classes>
			<!-- <class name="com.vcmp.tests.LoginPageTest"></class>
			<class name="com.vcmp.tests.HomePageTest"></class> -->
			<class name="com.vcmp.tests.SoldToPageTest"></class>
			<class name="com.vcmp.tests.ControlDataPageTest"></class>
		</classes>
	</test>
</suite>